html:lang(zh-hans){
	h2{
		font-size:38px;
	}
	
	.single-post{
		h2{
			font-size:36px;
		}
	}

	.module__img-text .text__element b, .module__img-text .text__element strong, .module__text .text__element b, .module__text .text__element strong{
		line-height:91%;
		vertical-align: bottom;
	}
	
	.module__instagram .module__instagram-text{
		font-size:13px;
	}
	
	.module__lookbook .lookbook__element .lookbook__element-wrapper .lookbook_element-table .lookbook__element-title{
		font-size:36px;
	}
	
	.page-template-template-about .text__element b, .page-template-template-about .text__element strong{
		line-height:91%;
		vertical-align: bottom;
	}
	
	footer .menu-footer-container ul li a, footer .menu-footer-simplified-chinese-container ul li a{
		font-size:16px;
	}
	
	.module__storelocator .storelocator__filter-element .storelocator__filter-input select{
		font-size:18px;
	}
}

@include media-breakpoint-up(md) {
	html:lang(zh-hans){		
		.main-menu-wrapper .main-menu ul li{
			font-size:17px;
		}
		
		.module__img-text .text__element b, .module__img-text .text__element strong, .module__text .text__element b, .module__text .text__element strong{
			font-size:36px;
		}
	
		.module__img-text .text__element, .module__text .text__element{
			font-size:21px;
		}
		
		.module__storelocator .module__storelocator-title{
			font-size:38px;
		}
		
		.module__storelocator .storelocator__filter-element .storelocator__filter-title{
			font-size:22px;
		}
		
		.module__storelocator .storelocator__list-wrapper .storelocator__list-content .storelocator__list-item .list-item__title{
			font-size:20px;
		}
		
		.module__instagram .module__instagram-text h3{
			font-size:22px;
		}
		
		.module__newsletter .module__newsletter-wrapper{
			font-size:16px;
		}
		
		.module__instagram .module__instagram-text a{
			font-size:18px;	
		}
		
		.page-template-template-about{
			.text__element{
				font-size:21px;
				
				b, strong{
					font-size:36px;
				}
			}
			
			.about__text-section{
				h2{
					font-size:36px;
				}
				
				ul{
					li{
						font-size:21px;
					}
				}
			}
		}
	}	
}