@include media-breakpoint-up(xs) {
	.module{
		margin-bottom:20px;
		
		&:last-child{
			margin-bottom:0;
		}	
		
		.blackbar{
			height:50px;
			width:100%;
			background:#000;
			
			&.before{
				margin-bottom:20px;
			}
			
			&.no-margin{
				margin:0;
			}
			
			&.after{
				margin-top:20px;
			}
		}
	}
	
	.page_feature_image{
		//margin-bottom:20px;
		
		&.video{
			width:100%; 
			position:relative;
			
			.video_link{
				position:absolute; 
				top:0; 
				left:0; 
				width:100%; 
				height:100%; 
				z-index:999;
			}
			
			video{
				margin-top:-1px;
			}
		}
	}
	
	.module__img-text, .module__text{		
		.text__element{
			font-size:15px;
			font-weight:$semibold;
			//padding-bottom:10px;
			padding-bottom:20px;
			
			//.text__element-title{
			strong, b{
				line-height:80%;
				font-size:27px;
			}
			
			p{
				&:last-child{
					margin-bottom:0;
				}
			}
		}
		
		.img__element{
			img{
				
			}
		}
	}
	
	.module__text{
		//margin:20px 0!important;
		margin-top:20px!important;
		//margin-bottom:20px!important;
		margin-bottom:0;
	}
	
	.module__img-text{
		margin-bottom:0;
		.text__element{
			margin-top:20px;
		}
		
		.img__element{
			&.video{
				width:100%; 
				position:relative;
				
				.video_link{
					position:absolute; 
					top:0; 
					left:0; 
					width:100%; 
					height:100%; 
					z-index:999;
				}
			}
		}
	}
	
	.module__lookbook{
		background:#000;
	
		& > [class^="col-"],
	  	& > [class*=" col-"] {
			padding-right: 0;
			padding-left: 0;
	  	}
		
		.img__element{
			&.video{
				width:100%; 
				position:relative;
			}
		}
		
		.lookbook__element{
			.lookbook__element-wrapper{
				display:table; 
				width:100%; 
				height:100%;
				
				.lookbook_element-table{
					padding:30px 0;
					display:table-cell; 
					vertical-align:middle; 
					text-align:center;
					
					.lookbook__element-title{
						font-size:42px;
						font-weight:$semibold; 
						margin-bottom:30px;
						color:#fff;
					}
					.lookbook__element-link{
						ul{
							padding:0;
							margin:0;
							
							li{
								list-style:none;	
								margin-bottom:20px;
								
								&:before{
									content:"";
									display:none!important;
								}
								
								a{
									min-width:130px; 
									background:#FFF; 
									color:#000; 
									padding:10px;
									display:inline-block; 
									
									&:hover{
										background:#B2B2B2;
									}
								}
								
								&:last-child{
									margin-bottom:0;
								}
							}
						}
					}
				}
			}
		}
	}
	
	.module__storelocator{
		.module__storelocator-title{
			font-size:50px;
			font-weight:$semibold;
			margin-bottom:20px;
		}
		
		.storelocator__map-row{
			margin:0 -30px;
			.storelocator__map-wrapper{
				width: 100%; 
				padding-bottom: 100%; 
				position: relative;
			
				#map_div{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}
		
		.storelocator__filter-element{
			margin-bottom:20px;
		
			.storelocator__filter-title{
				font-size:26px;
				font-weight:$semibold;
				margin-bottom:10px;
			}
			
			.storelocator__filter-input{
				select{
					width:100%;
					padding:10px 20px;
					border:1px solid #000;
					font-size:20px;
					font-family:Lato;
				}
				
				.button{
					margin-top:20px;
				}
			}
		}
		
		.storelocator__list-wrapper{
			padding-top:20px;
			height:240px;
			overflow-y:scroll;
			
			.storelocator__list-content{
				.storelocator__list-item{
					margin-bottom:20px;
					
					.list-item__title{
						font-size:24px;
						font-weight:$semibold;
						margin-bottom:10px;
					}
					.list-item__address{
						font-family:Lato;
						font-size:14px;
						margin-bottom:20px;
					}
					.list-item__hour{
						font-family:Lato;
						font-size:14px;
						
						.list-item__hour-toggle{
							cursor:pointer;
						}
						.list-item__hour-content{
							ul{
								padding:0;
								margin:0;
								
								li{
									list-style:none;
								}
							}
						}
					}
				}
			}
		}
	}
	
	.module__instagram{
	
		.module__instagram-text{
			font-weight:$semibold;
			margin-bottom:20px;
			text-align:center;
		
			h3{
				//font-weight:$semibold;
				font-weight:bold;
				margin-bottom:20px;
			}
			
			p{
				//font-size:12px;
				//font-weight:$semibold;
				margin-bottom:10px;
			}
			
			a{
				color:#B3B3B3;
				font-size:20px;
			}
		}
		.module__instagram-gallery{
			img{
				width:100%;
				margin-bottom:20px;
			}
		}
		
		.module__instagram-social{
			text-align:center;
			ul{
				padding:0;
				//margin:30px 0 0 0;
				margin:10px 0 0 0;
				li{
					list-style:none;
					display:inline-block;
					margin-right:10px;
					//font-weight:$semibold;
					color:#b3b3b3;
					
					&:before{
						display:none;
					}
					
					a{
						font-size:20px;
						color:#000;
					}
					
					&:last-child{
						margin-right:0;
					}
				}
			}
		}
	}
	
	.instagram-popup{
		display: none; 
		max-width:800px!important;
		
		a{
			color:#000;
		}
	}
	
	.module__newsletter{
		
		.module__newsletter-wrapper{
			margin:30px auto;
			border:1px solid #7F7F7F;
			font-size:18px;
			padding:30px;
			font-weight:$semibold;
			text-align:center;
			
			.newsletter-title{
				line-height:200%;
			}
		
			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			  color: #b3b3b3;
			  opacity: 1; /* Firefox */
			}
			
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			  color: #b3b3b3;
			}
			
			:-ms-input-placeholder { /* Microsoft Edge */
			  color: #b3b3b3;
			}
		
			input[type="email"]{
				font-weight:$normal;
				font-size:15px;
				border:1px solid #000;
				padding:10px 15px;
				width:100%;
				margin-bottom:10px;
			}
			
			.EMAIL-label{
				//width:60%;
				margin-bottom:0!important;
			}
			
			.yikes-easy-mc-submit-button{
				//width: 30%;
				display: inline-block;
				margin: 0 !important;
				background:#000;
				color:#FFF;
				font-size:15px;
				font-family:Lato;
				font-weight:400;
				padding:10px 30px;
				border:none;
				outline:none;
				display:inline-block;
				margin:10px 0;
			    border-radius: 0;
				cursor:pointer;
			}
			
			.button{
				margin:0;
			}
		}
	}
	
	.module__brand-logo{
		.logo_row{
			min-height:100px;
			
			img{
				margin-bottom:40px;
			}
		}	
	}
	
	.module__logo_text{
		margin-top:50px;
		
		.module__logo_text-image{
			margin-bottom:30px;
			display:block;
			width:100%;
		}
		
		.module__logo_text-content{
			font-size:15px;
			p{
				font-family:Lato;
			}
			
			ul{
				font-family:Lato;
			}
		}
	}
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
	.module__img-text, .module__text{
		.text__element{
			font-size:27px;

			//.text__element-title{
			strong, b{
				font-size:45px;
			}
		}
	}
	
	.module__lookbook{		
		.lookbook__element{
			.lookbook__element-wrapper{
				.lookbook_element-table{
					.lookbook__element-link{
						ul{
							li{
								display:inline-block;
								margin-right:10px;
								
								
								a{
									min-width:100px;
								}
								
								&:last-child{
									margin-right:0;
								}
							}
						}
					}
				}
			}
		}
	}
	
	.module__brand-logo{
		.logo_row{
			img{
				margin-bottom:0;
			}
		}	
	}
	
	.module__instagram{
		.module__instagram-text{
			text-align:left;
		}
		
		.module__instagram-gallery{
			img{
				margin-bottom:0;
			}
		}
		
		.module__instagram-social{
			text-align:right;
			ul{
				margin:30px 0 0 0;
			}
		}
	}
	
	.module__newsletter{
		.module__newsletter-wrapper{
			text-align:left;
			
			input[type="email"]{
				margin-bottom:0;
			}
			
			.EMAIL-label{
				width:60%;
			}
			
			.yikes-easy-mc-submit-button{
				width: 30%;
				margin: 0 0 0 10px !important;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.module__lookbook{		
		.lookbook__element{
			.lookbook__element-wrapper{
				.lookbook_element-table{
					.lookbook__element-title{
						font-size:50px; 
						margin-bottom:70px; 
					}
					.lookbook__element-link{
						ul{
							li{
								margin-right:45px;
								
								a{
									min-width:105px; 
									font-size:17px; 
								}
							}
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {

}