@include media-breakpoint-up(xs) {
	.page-template-template-press, .page-template-template-press-detail{
		.press-container{
			width:100%;
		
			h3{
				font-weight:$semibold;
				margin-top:40px;
				margin-bottom:30px;
			}
			
			select.year_select{
				border:1px solid #000;
				padding:5px 10px;
				font-family:Lato;
				font-size:14px;
				margin:0 0 30px 0;
			}
			
			.press-list{
				margin-bottom:10px;
			
				.press-list-item{
					border-bottom:1px solid #000;
				
					margin-bottom:20px;
					
					/*&:last-child{
						margin-bottom:0;
					}	*/
				
					.press-date{
						font-size:21px;
						font-family:Lato;
						color:#989898;
						margin-bottom:20px;
					}
					
					a.press-title-link{
						font-weight:$semibold;
						font-size:28px;
						margin-bottom:20px;
						display:inline-block;
						color:#000;
					}
				}
			}
		}
		
		.press-content{
			margin-bottom:30px;
		
			h2{
				font-size:50px;
				font-weight:$semibold;
				padding-bottom:10px;
			}
			
			.date{
				font-family:Lato;
				font-size:21px;
				color:#989898;
				padding-bottom:20px;
			}
			
			p{
				font-size:15px;
				font-family:Lato;
				line-height:1.8;
			}
		}
	}
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
	
}

@include media-breakpoint-up(lg) {
	
}

@include media-breakpoint-up(xl) {

}